{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<head>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>  
<script>

  $(document).ready(function () {  
    var form = $('.form'),  
    cache_width = form.width(),  
    a4 = [595.28, 841.89]; // for a4 size paper width and height  
    $('#generate_pdf').on('click', function () {  
        $('body').scrollTop(0);  
        generatePDF();  
    });  
    function generatePDF() {  
        getCanvas().then(function (canvas) { 
            var img = canvas.toDataURL("image/png"),  
             doc = new jsPDF({  
                 unit: 'px',  
                 format: 'a4'  
             });  
            doc.addImage(img, 'JPEG', 20, 20);  
            doc.save('Task.pdf');  
            form.width(cache_width);  
        });  
    }  
    function getCanvas() {  
        form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');  
        return html2canvas(form, {  
            imageTimeout: 2000,  
            removeContainer: true  
        });  
    }
});

</script>
<style>
  .hidden-input {
    display: none;
  }
</style>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="indexadvisor.html" class="logo d-flex align-items-center">
       <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
        <span class="d-none d-lg-block">RIT CSE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
  
  
    <nav class="header-nav ms-auto">
      
  
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile_pic.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Advisor</span>
          </a><!-- End Profile Iamge Icon -->
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'loginpage' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
  
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
  
      </ul>
    </nav><!-- End Icons Navigation -->
  
  </header><!-- End Header -->


    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
    
          <li class="nav-item">
            <a class="nav-link " href="{% url 'indexadvisor' %}">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'advisorpdview' %}">
              <i class="bi bi-grid"></i>
              <span>View Personal Details of Students</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'adviewinternalmark' %}">
              <i class="bi bi-grid"></i>
              <span>View Internal Marks</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'adviewattendance' %}">
              <i class="bi bi-grid"></i>
              <span>View Attendance</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'leaveapproval' %}">
              <i class="bi bi-grid"></i>
              <span>Approve Duty Leave / Medical Leave</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'result' %}">
              <i class="bi bi-grid"></i>
              <span>Result Analysis</span>
            </a>
          </li>

          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link " href="{% url 'reportgeneration' %}"> -->
              <!-- <i class="bi bi-grid"></i> -->
              <!-- <span>Report Generation</span> -->
            <!-- </a> -->
          <!-- </li> -->

          <li class="nav-heading">More</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'contact1' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->
      
        </ul>

    </aside><!-- End Sidebar-->


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Internal Marks</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'indexadvisor' %}">Home</a></li>
                <li class="breadcrumb-item">View Internal Marks</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
      
          <section class="section">
            <div class="row">
              <div class="col-lg-12">
      
                <div class="card">
                  <div class="card-body">
 

                    <h5 class="card-title">Internal Marks</h5>
                    <form class="form" method="POST" action="{% url 'adviewinternalmark' %">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Select Subject</label>
                        <div class="col-sm-10">
                          <select id="sub" name="sub" class="form-select" aria-label="Default select example">
                            <option selected>Choose</option>
                            {% for s in facsub %}
                            <option value="{{s.Subjects_id}}">{{s.Subjects.Subject_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                  
                    <!-- Table with stripped rows -->
                    <table id="studintern" class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">Roll Number</th>
                          <th scope="col">Name</th>
                          <!-- <th scope="col">Subject Name</th> -->

                          <th scope="col">Assignment</th>
                          <th scope="col">Attendance</th>
                          <th scope="col">Series Exam</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for intrnl in att %}
                    <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.Students.Rollno}}</td>
                    <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.Students.Name}}</td>
                    <!-- <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.Subjects.Subject_name}}</td> -->
                    
                    <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.AssignmentMarks_id}}</td>
                    <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.Attendancemarks}}</td>
                    <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.SeriesExamMarks_id}}</td>
                    <td data-batch-id="{{intrnl.FacultySubjects_id}}">{{intrnl.Total}}</td>

                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
      </form>
      <script>
    $(document).ready(function() {
      var $batchselect=$("#sub");

      var $table = $('#studintern'); // Replace 'yourTableId' with the actual ID of your table
      var $tableCells = $table.find('td');
      $batchselect.on('change', function() {
        var selectedbatchId = $(this).val();

        // Show all semester options
        $tableCells.show();

        // Filter semester options based on the selected course
        if (selectedbatchId !== '') {
          $tableCells.each(function() {
            if ($(this).attr('data-batch-id') !== selectedbatchId) {
              $(this).hide();
            }
          });
        }
      });

    
      </script>
                  </div>
                </div>
      
              </div>
            </div>
          </section>

    </main>
</body>
</html>
{% endblock %}