{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<head>  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  
  </head>
<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index_admin.html" class="logo d-flex align-items-center">
       <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
        <span class="d-none d-lg-block">RIT CSE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile_pic.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'loginpage' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'projects' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      
      <li class="nav-item">
        <a class="nav-link " href="{% url 'regfaculty' %}">
          <i class="bi bi-grid"></i>
          <span>Register Faculty</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'regstudent' %}">
          <i class="bi bi-grid"></i>
          <span>Register Student</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#assign-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Assign Faculty</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="assign-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'assignsubject1' %}">
              <i class="bi bi-circle"></i><span>Assign Subject</span>
            </a>
          </li>
          <li>
            <a href="{% url 'assignadvisor1' %}">
              <i class="bi bi-circle"></i><span>Assign Advisor</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#delete-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Delete User</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="delete-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'delstudent1' %}">
              <i class="bi bi-circle"></i><span>Student</span>
            </a>
          </li>
          <li>
            <a href="{% url 'delfaculty1' %}">
              <i class="bi bi-circle"></i><span>Faculty</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'semupdation1' %}">
          <i class="bi bi-grid"></i>
          <span>Update Semester</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link " href="{% url 'selectelective1' %}">
          <i class="bi bi-grid"></i>
          <span>Select Elective</span>
        </a>
      </li>
       <li class="nav-item">
      <a class="nav-link " href="{% url 'selassign_subject' %}">
        <i class="bi bi-grid"></i>
        <span>Assign Elective</span>
      </a>
    </li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#course-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Program</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="course-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'addcourse1' %}">
              <i class="bi bi-circle"></i><span>Add Program</span>
            </a>
          </li>
          <li>
            <a href="{% url 'viewcourse' %}">
              <i class="bi bi-circle"></i><span>View Program</span>
            </a>
          </li>
          <li>
            <a href="{% url 'deletecourse' %}">
              <i class="bi bi-circle"></i><span>Delete Program</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#batch-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Batch</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="batch-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'addbatch1' %}">
              <i class="bi bi-circle"></i><span>Add Batch</span>
            </a>
          </li>
          <li>
            <a href="{% url 'viewbatch' %}">
              <i class="bi bi-circle"></i><span>View Batch</span>
            </a>
          </li>
          <li>
            <a href="{% url 'deletebatch' %}">
              <i class="bi bi-circle"></i><span>Delete Batch</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#semester-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Semester</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="semester-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'addsemester1' %}">
              <i class="bi bi-circle"></i><span>Add Semester</span>
            </a>
          </li>
          <li>
            <a href="{% url 'viewsemester' %}">
              <i class="bi bi-circle"></i><span>View Semester</span>
            </a>
          </li>
          <li>
            <a href="{% url 'deletesemester' %}">
              <i class="bi bi-circle"></i><span>Delete Semester</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#subject-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Course</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="subject-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'addsubject1' %}">
              <i class="bi bi-circle"></i><span>Add Course</span>
            </a>
          </li>
          <li>
            <a href="{% url 'viewsubject' %}">
              <i class="bi bi-circle"></i><span>View Course</span>
            </a>
          </li>
          <li>
            <a href="{% url 'deletesubject' %}">
              <i class="bi bi-circle"></i><span>Delete Course</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Assign Subject</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'assignsubject1' %}">Home</a></li>
            <li class="breadcrumb-item">Assign Faculty</li>
            <li class="breadcrumb-item active">Assign Subject</li>
          </ol>
        </nav>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Assign Subject</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3" method = "POST" action = "{% url 'saveassignsubject' %}">
                {% csrf_token %}
                
  
                <div class="col-md-6">
                  <label for="inputName3" class="form-label">Faculty name</label>
                  <select id="selfacname" name = "selfacname"  class="form-select" >
                    <option>--select Faculty--</option>
                  {% for facname1 in selectfacname %}
                    <option value="{{facname1.id}}">{{facname1.Faculty_name}} </option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputName4" class="form-label">Employee Number</label>
                  <select id="selempno" name = "selempno" class="form-select" >
                    <option>--select Employee Number--</option>
                  {% for empno1 in selectempno %}
                    <option value="{{empno1.id}}">{{empno1.Emp_no}} </option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputcourse" class="form-label">Program</label>
                  <select id="selcourse" name = "selcourse" class="form-select" >
                     <option>--Select Program--</option>
                  {% for course1 in selectcourse %}
                    <option value="{{course1.id}}">{{course1.Course_name}} </option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputcourse" class="form-label"> Batch</label>
                  <select id="selbatch" name ="selbatch" class="form-select" >
                    <option>--Select Batch--</option>
                  {% for batch1 in selectbatch %}
                    <option value="{{batch1.id}}" 
                    data-bt-id="{{batch1.Courses_id}}"
                    >{{batch1.Batch_name}} </option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputsemester" class="form-label"> Semester</label>
                  <select id="selsemester" name = "selsemester" class="form-select" required="required">
                     <option>--Select Semester--</option>
                       {% for semester1 in selectsemester %}
                        <option value="{{semester1.id}}"  data-sellsem-id="{{semester1.Courses_id}}">{{semester1.Semester_name}}</option>
                        {% endfor %}
                    
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputsemester" class="form-label">Course</label>
                  <select id="selsubject" name = "selsubject" class="form-select" required="required">
                     <option>--Select Course--</option>
                    {% for subject1 in selectsubject %}
                    <option value="{{subject1.id}}"
                     data-sem-id="{{subject1.Semester_id}}">
                   {{subject1.Subject_name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputsemester" class="form-label"> Course code</label>
                  <select id="selsubjectcode" name = "selsubjectcode" class="form-select" required="required">
                    <option>--Select Course code--</option>
                    {% for subjectcodes in selectsubjectcode %}
                    <option value="{{subjectcodes.id}}">{{subjectcodes.Subject_code}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Assign</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
                <div class = "row">
                  {% if messages %}
                  {% for message in messages %}
                  <p style="color:maroon;">{{message}}</p> 
                  {% endfor %}
                  {% endif %}
                </div>
              </form><!-- End Multi Columns Form -->
              <script>
    $(document).ready(function() {
      var $crname= $("#selcourse");
      var $semSelect = $("#selsemester");
      var $semOptions = $semSelect.find('option');
      var $subSelect = $("#selsubject");

      var $subOptions = $subSelect.find('option');
      var $batchSelect = $("#selbatch");
      var $batchOptions = $batchSelect.find('option');
      $semSelect.on('change', function() {
        var selectedCourseId = $(this).val();

        // Show all semester options
        $subOptions.show();

        // Filter semester options based on the selected course
        if (selectedCourseId !== '') {
          $subOptions.each(function() {
            if ($(this).attr('data-sem-id') !== selectedCourseId) {
              $(this).hide();
            }
          });
        }
      });
      $crname.on('change', function() {
        var selectedbatchId = $(this).val();

        // Show all semester options
        $batchOptions.show();

        // Filter semester options based on the selected course
        if (selectedbatchId !== '') {
          $batchOptions.each(function() {
            if ($(this).attr('data-bt-id') !== selectedbatchId) {
              $(this).hide();
            }
          });
        }
      });

      $crname.on('change', function() {
        var selectedsubbId = $(this).val();

        // Show all semester options
        $semOptions.show();

        // Filter semester options based on the selected course
        if (selectedsubbId !== '') {
          $semOptions.each(function() {
            if ($(this).attr('data-sellsem-id') !== selectedsubbId) {
              $(this).hide();
            }
          });
        }
      });

    });
  </script> 
<!-- <script>
    $(document).ready(function() {
      var $semesterSelect = $("#selsemester");
      var $selsubject = $("#selsubject");

      var $subOptions = $selsubject.find('option');

      $semesterSelect.on('change', function() {
        var selectedsubId = $(this).val();

        // Show all semester options
        $subOptions.show();

        // Filter semester options based on the selected course
        if (selectedsubId !== '') {
          $subOptions.each(function() {
            if ($(this).attr('data-sem-id') !== selectedsubId) {
              $(this).hide();
            }
          });
        }
      });
    });
  </script>  -->
            </div>
        </div>

    </div>
</main>

</body>
</html>
{% endblock %}