{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
       <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
        <span class="d-none d-lg-block">RIT CSE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile_pic.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Student</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'loginpage' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span><!-- Components-->Personal details</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'viewpersonaldetails1' %}">
              <i class="bi bi-circle"></i><span>View</span>
            </a>
          </li>
          <li>
            <a href="{% url 'editpersonaldetails1' %}">
              <i class="bi bi-circle"></i><span>Edit</span>
            </a>
          </li>      
        </ul>
      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewinternalmark1' %}">
          <i class="bi bi-journal-text"></i><span>View Internal Mark</span><!--<i class="bi bi-chevron-down ms-auto"></i>-->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewattendance1' %}">
          <i class="bi bi-calendar-check"></i><span>View Attendance</span><!--<i class="bi bi-chevron-down ms-auto"></i>-->
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dutyleave1' %}">
          <i class="bi bi-calendar-plus"></i></i><span>Request Leave</span><!--<i class="bi bi-chevron-down ms-auto"></i>-->
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="{% url 'process_pdf' %}">
          <i class="bx bxs-file-blank"></i><span>Upload GradeCard </span><!--<i class="bi bi-chevron-down ms-auto"></i>-->
        </a>
      </li>
      <li class="nav-heading">More</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'contact1' %}">
          <i class="bi bi-envelope"></i><span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->



    </ul>

  </aside><!-- End Sidebar-->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Grade Card</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <h1>Upload Grade card</h1>
                <form method="POST" enctype="multipart/form-data">

  <!-- <form  method="POST" action="{% url 'process_pdf' %}"> -->
                {% csrf_token %}

        <!-- <div class="col-md-4"> -->
          <!-- <label for="inputsubject" class="form-label">Semester</label> -->
          <!-- <select id="inputsubject" class="form-select"> -->
            <!-- <option selected>Select Semester</option> -->
            <!-- {% for s in sm %} -->
            <!-- <option value="{{s.id}}">{{s.Semester_name}}</option> -->
            <!-- {% endfor %} -->
          <!-- </select> -->
      <!-- </div> -->
       

        <label for="certificates" class="form-label"> Upload Grade Card</label>
        <br>
                             <input type="file" class="form-control"  name="pdf_file" accept="application/pdf" required>

        <!-- <input type="file" class="form-control" id="pdf_file" name="pdf_file" multiple> -->
      <br>
      <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Submit</button>
      </div>
       <div class = "row">
        {% if messages %}
        {% for message in messages %}
        <p style="color:green;">{{message}}</p> 
        {% endfor %}
        {% endif %}
      </div> 
  </form>
</main><!-- End #main -->
  

</html>
{% endblock %}